
.banner{
  animation-name:pulse;
  animation-duration:15s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-ion-out;
  animation-direction: alternate;
  animation-delay: 15s; 
  color:#eb932f;
  width:auto;
  padding: 0.2rem 1rem;
  margin:0.2em;
  border-radius:40%;
  } 
  
.informativo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    width: 3500px;    
    line-height: 1.2;/*ancho de la linea de texto*/ 
    color: rgb(118, 12, 122);
    text-shadow:1px 2px 2px cyan,
                1px 2px 4px yellow;

    animation-duration:130s;
    animation-name:parrafo;
    animation-iteration-count:infinite;/*lo repetimos infinito*/
    animation-direction:normal;/*lo movemos adelante y atras*/
    /*animation-fill-mode: both;*/
    
    animation-timing-function: linear;
}
.informativo p:hover{
    animation-play-state: paused;/*pasamos el raton por ensima y se pausa*/ 
    }
/*animacion para el informativo en el inicio*/
@keyframes parrafo {
     0% {margin-left: 1000px;}
    100%{margin-left:-4000px;}
    }


.tabla{
  width:100%;
  background-color: rgb(201, 235, 193);
  }

table{
  font-family:"Lucida Sans Unicode", "Lucida Grande", Sans Serif;
  font-size:50%;
  margin:0;
  width:100%;
  height:auto;
  border-radius:10px; 
  text-align:center;
  border-collapse:collapse;
  }
th{
  height:auto;
  padding:0;
  background:#b9ceff;
  border-top:10px solid #aaccfe;
  border-bottom:5px solid yellow;
  color: black;
  }
td{
  padding:auto;
  border-bottom:1px solid #fff;
  color:black;
  border-top:1px solid transparent;
  border-left:2px solid rgb(6, 243, 6);
  }

  /*producimos un acercamiento a los cubos de la tabla*/
td:hover,td:focus{
  background-color:white;
  transform: scale(1.25);
  position:relative;
  z-index:5;
  }

/*las notas didacticas*/
.notas{
  margin:0 ;
  width:90%;
  height:80%;
  }
ol,li{
  list-style:none;
  text-align: center;
  margin:4%;
  }

ol{
  overflow:hidden; 
  padding: 1rem;
  }

ol li{
  margin:1%;
  float:left;
  }
ol li h3{
  font-size:100%;
  font-weight:bold;
  padding:1px;
  }
ol li p{
  font-family:"Reenie Beanie", Segoe Print, sans-serif;
  font-size:75%;
  width:100%;
  color: rgb(1, 1, 19); 
  height: auto;
  padding:0;
  }
/*le colocamos sombra a las notas*/
ol li a{
  text-decoration:none;
  background:rgb(238, 189, 189);
  display:block;
  height:50%;
  width:100%;
  border-radius: 20px;
  padding:1px;
  }

/*rotamos los box ligeramente*/
ol li a{
  transform:rotate(-6deg);
  }

ol li:nth-child(even) a{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  }

ol li:nth-child(3n) a{
  transform:rotate(-3deg); 
  position:relative;
  top:-5px;
  }

ol li:nth-child(5n) a{
 transform:rotate(5deg);
 position:relative;
 top:-10px;
 }
 
/*produce un acercamiento al pasar sobre los box*/
ol li a:hover,ol li a:focus{
  transform: scale(1.1);
  transform: scale(1.1);
  transform: scale(1.1);
  position:relative;
  z-index:5;
  }

 /*creamos al anmacion para el banner llamdo pulse*/ 
@keyframes pulse{

     0%{ background-color: rgb(200, 139, 202);
         opacity:1.0;
         transform: scale(1.0) rotate(0deg);
         }
    40%{ background-color:rgb(180, 223, 248);
         opacity:0.1;
         transform: scale(1.2) rotate(-5deg) translateX(-50px) translateY(-50px);
         }
    55%{ background-color: rgb(22, 133, 87);
         opacity:0.2;
         transform: scale(1.0) rotate(50deg) translateX(-150px) translateY(150px);
         }
    65%{ background-color: black;
         opacity:0.1;
         transform: scale(2.0) rotate(10deg) translateX(-50px) translateY(50px)
         }
    75%{ background-color:rgb(156, 191, 231);
         opacity:0.1;
         transform: scale(2.0) rotate(60deg) translateX(-10px) translateY(-10px);
        }
   100%{ background-color: green;
         opacity:0.9;
         transform: scale(1.0) rotate(0deg);
        }
     }
