*{
  margin:0;
  padding:0; 
  box-sizing:border-box; /*el margin y el padding sean iguales*/
  }
body{
  line-height:1.6;
  margin:0;/*le quitamos el margen entre los elementos del cuerpo de la web*/
  overflow-x:hidden; /*para quitarles el escrobal horizontal el tamaño de pantalla*/
  }
.logo{
  position: absolute;
  z-index:1;
  margin-left:50px;
  }
/*BARRA DE INFORMATIVO*/
.informativo{
    padding:0 3rem 0 3rem;
    margin: auto;
    
    top:10px ;
    width: 90vw;
    border-radius: 50%;
    z-index: 2;
    position:relative;/*la posicion principal*/
    left:60px;
    overflow:hidden;
    }

/*BARRA DE NAVEGACION*/
nav{
    padding-top:1px;
    position:fixed;
    z-index: 3;
    float:right;
    margin-right:15px;
    /*margin-top:13px;
    margin-left:43px;*/
    width:20%;
    height:5px;
    }
.menu{
    color:pink;
    font-size: 2rem;
    padding:1px;
    cursor:url("imagenes/perro.png"), auto;
    z-index: 15;
    text-align:center;   
    margin-left:50px;
    margin-top:50px;
    }
.links{
    position: fixed;
    top:0;
    right: -250px;
    width: 250px;
    height: 40vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    gap:20px;
    transition: right 0.7s ease;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    }
.links.active{
   right:0;
   }
.links li{
   width: 100%;
   list-style:none;
   }
.links a {
   display: block;
   width: 100%;
   padding: 12px;
   font-size: 1.1rem;
   color: blue;
   text-decoration: none;
   border-radius: 8px;
   transition: 0.3s;
   }
/*acercamineto del los links del menu*/
.links a:hover{
   background:magenta;
   color:black;
   }
/*para moviles */
.links a:active{
   background: yellow;
   transform: scale(0.96);
   }

.contenedor{
  font-family: 'Roboto', sans-serif;
  width:95%;
  margin:0 auto;
  overflow:hidden;
  }

.header{
   font-size: 1.1rem;
   display:flex;/*colocamos la pantalla flexible*/
   align-items:center;/*centramos todos los items */
   }

.content{
    max-width:50rem;/*maximo ancho*/
    padding-top:1rem;/*espaciado arriba*/
    padding-left:1rem;/*espaciado a la izquierda*/
    padding-right:1rem;/*espaciado a la derecha*/
    padding-bottom: 1rem;/*espaciado a la abajo*/
    margin:auto;/*para que el contenido se centre automatico*/
    text-align:center;/*alineacion del texto*/
}
/* 1--video de fondo*/
.header-video{
    position:absolute;/*la posicion principal*/
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;/*le quitamos la barra de dsplazar*/
    }
.header-video video{
    margin:auto;
    }
    
/* 2--capa transparente del encabezado*/
.header-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:magenta;
    opacity: 0.1;
    z-index:1;
    }   
.header-content{
    
    z-index:2;
   }
.header-content h1{
    margin-top:1px;
    font-family: 'Arial', sans-serif;
    font-size:2.1rem;
    
    color: rgb(25, 25, 112);
    z-index:2;    
    border: thick solid rgb(102, 8, 52);
    border-style:outset;
    border-radius:10%;
    }
.header-content p{
    color: black;
    font-size:1.5rem;
    display:block;
    
}
/*producimos un acercamineto de los link*/
a{
   color:rgb(80, 00, 80);
   text-decoration:none;
   margin: auto;
   }
a:hover, a:focus{
   color:rgb(0, 128, 128);
   background-color:white;
   border-radius:20px;
        
   -webkit-transform: scale(1.7);
   -moz-transform: scale(1.7);
   -o-transform: scale(1.7);
}
.boton{
    padding:1rem 2rem;
    background:#4CAF50;
    color:cyan;
    border:none;
    font-size:1.2rem;
    text-decoration:none;
    border-radius: 12px;
    transition: all 0.3s ease;
    overflow: visible;
    }

.informativo p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    width: 3500px;    
    line-height: 1.2;/*ancho de la linea de texto*/ 
    color: rgb(17, 0, 102);

    animation-duration:130s;
    animation-name:parrafo;
    animation-iteration-count:infinite;/*lo repetimos infinito*/
    animation-direction:normal;/*lo movemos adelante y atras*/
    /*animation-fill-mode: both;
    animation-delay: 2s;*/
    animation-timing-function: linear;
}
.informativo p:hover{
    animation-play-state: paused;/*pasamos el raton por ensima y se pausa*/ 
    }
@keyframes parrafo {
    0% {margin-left:1000px;}
    100%{margin-left: -4000px;}
    }
/*SECCION PRINCIPAL .Main caja para los articulos*/    
.main{
    display: block;

    text-align: center;
    border-style:Groove;
    width:70%;
    padding:2rem  1rem;
    float:left;/*colocamos esta seccion en la izquierda con 70%*/
    }

.main h2{
    font-family: 'Montserrat', sans-serif;
    color:rgb(58, 9, 3);
    box-shadow: 1px 1px 11px rgb(73, 12, 12);/*derecha-abajo-difuminado*/
    /*text-shadow: 1px 1px 5px rgb(9, 43, 1);derecha-abajo-difuminado*/
    }
.main h3{
    font-family: 'Open Sans', sans-serif;
    color:rgb(17, 71, 87);
    }
.main b{
    font-family: 'Inter', sans-serif;
    color: rgb(8, 8, 104);
    }
.main img {
    width:30%;
    height:auto;
    margin:auto;
    border-radius:10%;
    overflow: hidden;
    float: left;
    }
.main a{
    color:red;
    }
/*1 Articulo: casa dentro de MAIN*/
.casa{
    border-top-right-radius: 60%;
    border-bottom-left-radius: 70%;
    background-color: rgb(236, 236, 126);
    }

/*2 Articulo: grasa dentro de MAIN*/
.grasa{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 80%;
    background-color: #def3ae;
    }
.grasa b{
    color: #f86b0c;
    }
.grasa img{
    width:20%;
    height:auto;
    margin:auto;
    overflow: hidden;
    float: left;
    }

/*3 Articulo: fisico dentro de MAIN*/
.fisico{
    border-top-left-radius: 60%;
    border-bottom-right-radius: 70%;
    background-color: #f5e4ee;
    }
.fisico img{ 
     width:30%;
     height:auto;
     margin:auto;
     border-radius:10%;
     overflow: hidden;
     float: left;
     }
.fisico h2{
     color:rgb(39, 71, 82);
     font-style: italic;
     width: 90%;
     font-size:2rem;
     }
.fisico h2 b{
     color:rgb(45, 45, 85);
     font-style: gabriola;
     width: 100%;
     font-size:2rem;
     }
article video{
     width: 90%;
     max-width: 100%;
     border-radius: 12px;
     margin: 16px 0;
     }
     
/*4 caja div: tabla de vitaminas dentro de MAIN*/
.tabla{
      background-color:rgb(180, 235, 235);
      font-family:"Noto sans";
/*tabla dentro de div: dentro de MAIN*/      }
table{
    font-family:"Noto sans";
    font-size:60%;
    margin:0;
    width:100%;
    height:auto;
    border-radius:10px;
    box-shadow: 10px 10px 10px #100;
    align:center;
    overflow: hidden;
    text-align:center;
   }
   th{
     height:auto;
     padding:0;
     background-color:white;
     border-top:10px solid #aaccfe;
     border-bottom:5px solid yellow;
     color: black;
    }
    td{
       padding:auto;
       background:#e4f0f5;
       border-bottom:1px solid black;
       color:black;
       border-top:1px solid transparent;
       border-left:2px solid green;
       }
      /*producimos un acercamiento a los cubos de la tabla*/
       td:hover,td:focus{
        background-color: white;
        -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        position:relative;
        z-index:5;
        }   
/*5 Articulo: ejercicio dentro de MAIN*/    
.ejercicio{
    background-color: rgb(239, 241, 202);
    border-top-right-radius: 60%;
    border-bottom-right-radius: 70%;
}

.estrategia{
    background-color: #e1ecee;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 50%;
}
.estrategia b{
    color: #9c5707;
}
.estrategia img{
    width:30%;
    border-radius:10%;
    overflow: hidden;
    float: left;
}

aside{
    width:30%;
    padding:20px;
    box-sizing:border-box;
    float:left;
    border-style:inset;
    border-width:30px;
}
aside img{
    width: 100%;
}
.enlaces {
    background-color: rgb(247, 234, 176);
    border-top-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
.enlaces img{
    width: 10%;
}
.notas img{
    width: 50%;
    
}
.notas b{
    color:#025f6b;
}
        
footer{
    text-align:center;
    clear:both;
    float:left;
    
    box-sizing:border-box;
    width:100%;
    height:auto;
    padding:20px;
    color:black;
    background:rgb(128, 111, 111);
    border-style:outset;
    border-width:12px;
    }

/*lo estilizamos cuando para los celulares*/
@media screen and (max-width:800px){
 .main{width:100%;}
 aside{width:100%;}
}
@media screen and (max-width:400px){
 .contenedor{width:100%;}
  .cubo{width:50%;}
}
        
